streamlit==1.45.0
flask==3.0.3
langchain==0.3.25
langchain-core==0.3.86
langchain-community==0.3.25
langchain-groq==0.2.5
langchain-text-splitters==0.3.11
langchain-huggingface==0.1.2
chromadb==0.5.3
sentence-transformers==3.0.1
pypdf==4.2.0
python-dotenv==1.0.1
twilio==9.2.3
requests==2.32.3
gunicorn==22.0.0
numpy>=2.1.0